.div_add {
  float: right;
}

.btn_add {
  border: none;
  background: none;
  width: 200px;
  height: 30px;
  font-family: Mardoto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #05558f;
  display: inline-block;
  margin-top: 40px;
  margin-right: 50px;
}

.name_project {
  /* float: left; */
  position: absolute;
  margin-left: 500px;
  font-family: Mardoto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  color: #433f3f;
}
