.inputs {
    margin-left: 30px;
}
.category{
    margin-left: 50px;
}
.btn_logout {
   
    position: absolute;
    height: 36px;
width: 81px;
margin-left: 96px;
margin-top: 400px;
border: none;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
color: #433F3F;
background: white;


}

::after, ::before {
    box-sizing: border-box;
    color: rgba(128, 138, 138, 1);
    margin-left: 20px;
}

.btn_projects {
    display:block;
    border: none;
    
}

.sideBar{
    background: #FBFBFB;
    width: 329px;
    height: auto;



}
